
:root {
  --progress-bar-width: 100px;
  --progress-bar-height: 100px;
  --font-size: 2rem;
}

.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
.inner-circle {
  position: absolute;
  width: calc(var(--progress-bar-width) - 30px);
  height: calc(var(--progress-bar-height) - 30px);
   border-radius: 50%;
  background-color: lightgrey;

}

.percentage {
  position: relative;
  font-size: 20px;
  color: rgb(0, 0, 0, 0.8);
}
